body{
    background-color: #808080;
    color:#000000;
    text-shadow: #ffffff;
    font-size: 24px;
    font-family: sans-serif, "Times New Roman", Verdana;
    width: 800px;
    margin: 12px auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px;
}
 
.header {
    text-align: center;
    font-size: 38px;
    padding: 8px;
    margin-bottom: 8px;
} 

.list{
    color: #000000;
    font-stretch: expanded;
    font-size: 24px;
}

.image{
    width: 400px;
    display: block;
    margin: 16px auto;
}